<div class="card mb-3">
    <div class="card-body">
        <Placeholder Width="PlaceholderWidth.Col8" Size="PlaceholderSize.Large" />
        <Placeholder Width="PlaceholderWidth.Col12" />
        <Placeholder Width="PlaceholderWidth.Col12" />
        <div class="d-flex mt-3">
            <Placeholder Width="PlaceholderWidth.Col2" Size="PlaceholderSize.Small" />
            <Placeholder Width="PlaceholderWidth.Col2" Size="PlaceholderSize.Small" Class="ms-2" />
            <Placeholder Width="PlaceholderWidth.Col2" Size="PlaceholderSize.Small" Class="ms-2" />
        </div>
    </div>
</div>
