@using kreddit_app.Data;
@using shared.Model;
@inject ApiService apiService

<div>
    <br/>
    <h3>Create a new Post</h3>
    <input placeholder="Title" type="input" id="postTitle" @bind-value="postTitle"/>
    <input placeholder="Content" type="input" id="postContent" @bind-value="postContent"/>
    <button id="createPostButton" type="button" @onclick="CreateNewPost">Create Post</button>
</div>

@code {
    private string? postTitle;
    private string? postContent;

    @inject NavigationManager NavigationManager;

    private async void CreateNewPost()
    {
        Console.WriteLine("Creating new post");
        if (postTitle == null || postContent == null)
        {
            return;
        }
        Console.WriteLine(postTitle + " " + postContent);
        // TODO: Provide list of users from dropdown, or maybe just convert
        // from username to UserId

        await apiService.CreatePost(postTitle, postContent, 2); // UserID: 2
        StateHasChanged();
        NavigationManager.NavigateTo("/", true);
    }
}
