<PlaceholderContainer Animation="PlaceholderAnimation.Wave">
    <div class="card mb-3">
        <div class="card-body">
            <Placeholder Width="PlaceholderWidth.Col10" Size="PlaceholderSize.Large" />
            <Placeholder Width="PlaceholderWidth.Col12" />
            <Placeholder Width="PlaceholderWidth.Col12" />
            <Placeholder Width="PlaceholderWidth.Col8" />
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <Placeholder Width="PlaceholderWidth.Col8" Size="PlaceholderSize.Large" />
            <Placeholder Width="PlaceholderWidth.Col12" />
            <Placeholder Width="PlaceholderWidth.Col10" />
            <Placeholder Width="PlaceholderWidth.Col6" />
        </div>
    </div>
</PlaceholderContainer>
