@inherits LayoutComponentBase

<BlazorBootstrapLayout StickyHeader="true">
    
    <HeaderSection>
        <div class="ps-3 ps-lg-2">
            <ThemeSwitcher />
        </div>
    </HeaderSection>
    
    <ContentSection>
        @Body
    </ContentSection>

    <FooterSection>
        Footer links...
    </FooterSection>
</BlazorBootstrapLayout>
